:root {
  --color-menu-link: black;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: white;
}

.peeking-cat-wrapper {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 330px;
  padding-top: 80px;
}

.person-pic-img {
  position: relative;
  z-index: 2;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #cbd5e1;
}

.cat-head-img {
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -100px) scaleY(0.1);
  bottom: -100px;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.peeking-cat-wrapper:hover .cat-head-img {
  transform: translate(-50%, -330px) scaleY(1);
  animation: headWiggle 3s infinite 0.4s;
}
/*  
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.profile-pic {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.cat-head {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20px);
  width: 80px;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 1.275);
}

.profile-container:hover .cat-head {
  transform: translate(-50%, -60px);
}
  */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(276, 100%, 87%);
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}
.card:hover {
  background-color: hsl(275, 88%, 67%);
}

.profile.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover {
  color: var(--color-menu-link);
  text-decoration: underline;
}

.icons {
  gap: 70px;
}
@media (min-width: 700px) {
  .profile-container {
    justify-content: flex-start;
  }
  .icons {
    justify-content: space-between;
    justify-content: center;
  }
  .projekt.kort {
    justify-content: flex-end;
  }
}

.my-grid {
  height: 100px;
  width: 400px;
  display: grid;
  padding: 10px;
  gap: 5px;

  div {
    background-color: hsl(276, 100%, 87%);
    border-radius: 10px;
    font-size: 16px;
  }
}

@keyframes headWiggle {
  0%,
  100% {
    transform: translate(-50%, -327px) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -327px) rotate(-5deg);
  }
  50% {
    transform: translate(-50%, -327px) rotate(5deg);
  }
  75% {
    transform: translate(-50%, -327px) rotate(-3deg);
  }
}
